#puzzle{
  background: pink;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

#pinpong,
#snake {
  background: #222;
  display: block;
  margin: 10px auto;
}
#pinpong_start,
#snake_start{
  display: block;
  margin: 10px auto;
}