/* パズル */
#puzzle{
  background: pink;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

/* ピンポン */
#pinpong,
#snake {
  background: #222;
  display: block;
  margin: 10px auto;
}
#pinpong_start,
#snake_start{
  display: block;
  margin: 10px auto;
}
.lr_key{
  display: flex;
  justify-content: center;
  align-items: center;
}
#pinpong_left,
#pinpong_right{
  width: 4rem;
  height: 4rem;
  margin: 5px;
}

/* スネーク */
.lr_key,
.cross_key{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross_key .up_doun_key{
  display: flex;
  flex-direction: column;
}
#snake_left,
#snake_up,
#snake_down,
#snake_right{
  width: 4rem;
  height: 4rem;
  margin: 5px;
}