* {
  font-size: 16px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  box-sizing:border-box;
  

}

#loading.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 1;
  z-index: 999;
  transition:.3s;
}

#loading.active{
  visibility:visible;
  opacity: 1;
}

.loading-text{
  font-family: 'Amatic SC', cursive;
  color: #fff;
  font-size: 3rem;
}

header{
  height:75px;
  width: 100vw;
  background: transparent;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  z-index: -1;
  transition:1s;

}
.header-hide{
  opacity: 0;
}
.header-active{
  z-index: 1;
  opacity: 1;
}

header h1.name{
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  border-bottom: 5px solid #000;
  position: relative;
}

.name::after{
  content: '';
  display: block;
  width: 30%;
  height: 5px;
  position:absolute;
  left: 0;
  background: yellow;
}

.body-main{
  width:100vw;
  margin:75px auto 0;
  background: rgb(219, 231, 231);
}
.top{
  width: 100vw;
  height: 100vh;
  background-image: url("./../images/pexels-pixabay-161850.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* スライドショー */
.slideshow{
  overflow: hidden;
}
.show-slider{
  display: flex;
  width:200vw;
  opacity : 0.85;
  animation: 20s linear infinite sliderAnimation;
}
.show-slider img{
  width: 20vw;
  
}

@keyframes sliderAnimation {
  0% {transform: none;}
  100% {transform: translateX(-50%);}
}

/* テキストアニメーション */
.text-animation-box{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-animation{
  color: #fff;
  font-size: 3.5rem;
  letter-spacing: .05em;
}

@keyframes showTextFromTop{
  0%{
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

@keyframes showTextFromBottom{
  0%{
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.text-animation span{
  display: inline-block;
}

.text-animation > span{
  overFlow: hidden;
}

.text-animation > span:nth-of-type(odd) > span{
  animation: showTextFromTop ease-out 1.5s backwards;
}

.text-animation > span:nth-of-type(even) > span{
  animation: showTextFromBottom ease-out 1.5s backwards;
}

.show-scroll{
  height:200px;
  width: 100%;
  overflow: scroll;
  display: flex;
}
.show-scroll .slider{
  display: flex;
}
.show-scroll .unit{
  height:200px;
  margin: 0 2px;
}
.show-scroll img{
  height:100%;
  object-fit: cover;
}


/* ハンバーガーボタン */
.btn-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
  z-index: 2;
  margin-right: 10px;
}
.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgb(179, 207, 230);
  border-radius: 4px;
}
.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all .5s;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 20px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}
#nav-btn.nav-open {
  transform: rotate(360deg);
}
#nav-btn.nav-open span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#nav-btn.nav-open span:nth-of-type(2) {
  transform: translateY(0) rotate(45deg);
}
#nav-btn.nav-open span:nth-of-type(3) {
  opacity: 0;
}
/* ハンバーガーメニュー */
#hamburger{
  width: 250px;
  height: 100%;
  background: #c3f6ff;
  border-radius: 4px;
  position: fixed;
  top: 75px;
  left: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}
.hamburger-close{
  transform: translate(-100%, 0);
}

.hamburger-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}
.accordion-label{
  display: block;
  margin: 0 0 4px 0;
  padding : 15px;
  line-height: 1;
  color :#fff;
  background : green;
  cursor :pointer;
}
input.accordion{
  display: none;
}

.hamburger-menu ul {
  margin: 0;
  padding: 0;
  background :#f4f4f4;
  list-style: none;
}

#links01 li,
#links02 li,
#links03 li {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

label .fa-angle-double-down{
  transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,/*#menu_bar01:checked より後ろの兄弟要素*/
#menu_bar02:checked ~ #links02 li,
#menu_bar03:checked ~ #links03 li {
  height: 54px;
  opacity: 1;
  overflow: visible;
}
#menu_bar01:checked + label .fa-angle-double-down,
#menu_bar02:checked + label .fa-angle-double-down,
#menu_bar03:checked + label .fa-angle-double-down {
  transform: rotateZ(540deg);
}




#accordion_slide {
  display: flex;
}
#accordion_slide li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion_slide {
  background-color: #96B38A;
  border: 1px solid;
  color: #fff;
  height: 100px;
  cursor: pointer;
  padding: 10px;
}
.accordion_slide_label{
  width: 250px;
  cursor :pointer;
}
.accordion_slide_inner {
  padding: 0;
  display: flex;
  background :#f4f4f4;
}


.ccordion_slide_content {
  cursor: pointer;
  width: 0;
  height: 54px;
  overflow: hidden;
  transition: all 0.5s;
}


#accordion_slide_check:checked ~.accordion_slide_inner div {
  border: 1px solid;
  width: 200px;
  padding: 5px;
}



/* ポップアップメッセージ */
/* .popup-message {
  width: 50%;
  height:200px;
  padding: 8px 16px;
  background: #2c2c2c;
  color: #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top:calc(50% - 100px);
  left: 20%;
  animation: popup 1.5s forwards;
  text-align: center;
}
@keyframes popup {
  0% {
    transform: translateY(-40px);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  30%, 70% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
    pointer-events: none;
  }
} */

section{
  margin-bottom:50px;
}

/* モーダルウィンドウ */
#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
  background: cyan;
  position: relative;
  transition: all .3s ease;
  transform: skew(0);
}
.icon {
  transition: all .3s ease;
  position: absolute;
  right: 30px;
  top: 10px;
}
#open:hover .icon {
  transition: all .3s ease;
  right:-30px;
}
#open:hover {
  transition: all .3s ease;
  background: springgreen;
  transform: skew(-15deg);
}


#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal {
  background: #fff;
  width: 70%;
  height: 70%;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}
#modal > img {
  margin: 0 0 20px;
  width:100%;
  height:100%;
  object-fit: cover;
}
#mask.hidden {
  display: none;
}
#modal.hidden {
  transform: translate(0, -1000px);
}

summary {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;

}
details {
  height: 10px;
  transition: .5s;
}
details[open] {
  height: 80px;
  background: #c3f6ff;
}

/* タブメニュー */
.tab-menu,
.puzzle-menu{
  margin-top: 10px;
}
.tab-menu ul,
.puzzle-menu ul{
  display:flex;
  justify-content: space-around;
  list-style: none;
}
.tab-menu ul li,
.puzzle-menu ul li{
  width:20%;
  height:2rem;
  border-radius: 5px 5px 0 0;
  background: rgb(248, 166, 221);
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}
.tab-content,
.puzzle-content{
  width:100%;
  min-height:300px;
  padding:10px;
  background: rgb(245, 232, 175);
  display: none;
}
.tab-selected{
  background: rgb(245, 232, 175)!important;
}
.tab-selected-content{
  display: block;
}




/* @media (min-width: 900px) {

} */