body {
  /* font-size: 16px; */
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  color: #333;

}

/* ポップアップメッセージ */
.popup-message {
  width: 50%;
  height:200px;
  padding: 8px 16px;
  background: #2c2c2c;
  color: #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top:calc(50% - 100px);
  left: 20%;
  animation: popup 2s forwards;
  text-align: center;
}
@keyframes popup {
  0% {
    transform: translateY(-40px);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  30%, 80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
    pointer-events: none;
  }
}
#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

/* モーダルウィンドウ */
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}
#modal > p {
  margin: 0 0 20px;
}
#mask.hidden {
  display: none;
}
#modal.hidden {
  transform: translate(0, -500px);
}

summary {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;

}
details {
  height: 10px;
  transition: .5s;
}
details[open] {
  height: 80px;
  background: #c3f6ff;
}

/* @media (min-width: 900px) {

} */